In [1]:
import pandas as pd
import os
import numpy as np
import csv
from scipy import spatial

In [2]:
#Change the working directory
os.chdir("C:/Users/emman/Desktop/2nd Internship/Project 1/GPS Allocation")

#load grid
grid = pd.read_csv('C:/Users/emman/Desktop/2nd Internship/Project 1/grid.csv')
grid.head()

    Unnamed: 0      PixelID  Latitude  Longitude   PixelNames
0  -40.0,-20.0  -40.0,-20.0     -40.0      -20.0  Pixel001001
1  -40.0,-19.9  -40.0,-19.9     -40.0      -19.9  Pixel001002
2  -40.0,-19.8  -40.0,-19.8     -40.0      -19.8  Pixel001003
3  -40.0,-19.7  -40.0,-19.7     -40.0      -19.7  Pixel001004
4  -40.0,-19.6  -40.0,-19.6     -40.0      -19.6  Pixel001005

In [4]:
#Convert type of latitude column to float
grid["Latitude"] = grid["Latitude"].apply(str)
grid["Latitude"] = grid["Latitude"].apply(float)
grid["Latitude"].head()

0   -40.0
1   -40.0
2   -40.0
3   -40.0
4   -40.0
Name: Latitude, dtype: float64

In [5]:
#Convert type of longitude column to float
grid["Longitude"] = grid["Longitude"].apply(str)
grid["Longitude"] = grid["Longitude"].apply(float)

In [6]:
#Convert type of pixelnames column to string
grid["PixelNames"] = grid["PixelNames"].apply(str)

In [7]:
#Load file with farmers' geographical locations
sites = pd.read_csv('C:/Users/asus/OneDrive/Documents/SFSA/2021 Internship/GPS Allocation/AllGPS.csv')

In [8]:
#Create an empty dataframe that will be filled with the data
dataout = pd.DataFrame(columns=["Latitude","Longitude","PixelID","PixelNames","PixLat","PixLon"])

In [9]:
#Create a search tree, find the index of the closest coordinates to the farmers position and match with the appropriate pixel
the_grid = grid[['Latitude', 'Longitude']].to_numpy()
pixelpoints = spatial.KDTree(the_grid)
distance, index = pixelpoints.query(sites.loc[:, ["Latitude", "Longitude"]], k=1)
for i in range(0, len(index)):
    dataout.loc[i] = [str(sites.loc[i, ["Latitude"]].values)[1:-1], str(sites.loc[i, ["Longitude"]].values)[1:-1], str(grid.loc[index[i], ["PixelID"]].values)[2:-2], str(grid.loc[index[i], ["PixelNames"]].values)[2:-2], str(grid.loc[index[i], ["Latitude"]].values)[1:-1], str(grid.loc[index[i], ["Longitude"]].values)[1:-1]]
    
dataout.head()

,Latitude,Longitude,PixelID,PixelNames,PixLat,PixLon
0,2.20655675166175,34.9493871442974,"2.2,34.9",Pixel423550,2.2,34.9
1,-36.4993164440684,54.025548174977295,"-36.5,54.0",Pixel036741,-36.5,54.0
2,-36.0971015296909,46.003695186227596,"-36.1,46.0",Pixel040661,-36.1,46.0
3,-16.4810373038873,4.33825800195336,"-16.5,4.3",Pixel236244,-16.5,4.3
4,-36.344223761413396,-8.23051460087299,"-36.3,-8.2",Pixel038119,-36.3,-8.2

In [10]:
#Rename the rows
Dataout = dataout.rename(index= lambda x: 'Farmer' + str(x+1))

In [11]:
#Save the dataframe as a csv file
Dataout.to_csv('BasisRiskAllocation(Method2-Andra).csv')